<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bug Service</title>
</head>
<body>
<h1>Bug Count</h1>
<div th:if="${bugcount != null}" class="bugcount">
    <p th:text="${bugcount}"></p>
</div>
<div th:if="${bugcount == null}" class="bugcount">
    <p th:text="0"></p>
</div>
<footer>
    <img src="/api/hit/bug.jpg" class="bug" alt="">
</footer>
</body>
<script>
    const siteObject = [
        {
            label: 'Hits by day',
            url: 'https://bug.home.alvonellos.com/api/hitsbyday',
        },
        {
            label: 'Hits by Site',
            url: 'https://bug.home.alvonellos.com/api/hitsbysite',
        },

    ];

    siteObject.forEach( ( site, index ) => {
        fetch(site.url)
            .then(response => response.json())
            .then(data => {

                const canvas = document.createElement('canvas');
                canvas.id = `chart${index}`;
                canvas.width = 600;
                canvas.height = 600;
                document.body.appendChild(canvas);

                const labels = Object.keys(data);
                const dataUsed = Object.values(data);
                const barColors = labels.map((label, index) => {
                    const color = `rgba(${(index * 100) % 255}, 100, ${(index * 150) % 255}, 0.6)`; // Custom colors for each bar
                    return color;
                });
                let ctx = canvas.getContext('2d');
                const barChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels ,
                        datasets: [{
                            label: site.label,
                            data: dataUsed ,
                            backgroundColor: barColors,
                            borderColor: 'rgba(0,0,0,1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: false,
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
    });
</script>
</html>
